@import '../styles/index';

.app {
  align-items: center;
  background-color: $bg-main;
  border-radius: 4em;
  bottom: 5%;
  box-shadow: $shadow;
  display: flex;
  height: 8em;
  justify-content: center;
  left: 5%;
  overflow-wrap: break-word;
  position: fixed;
  transition: width 0.5s;
  width: 8em;
  z-index: 100000000000000000;

  & p {
    font-size: 3.5em;
    margin: 0.4em 0;
    width: 80%;
  }
}

.active {
  border-radius: 4em;
  height: fit-content;
  justify-content: start;
  min-height: 8em;
  padding: 0 4em;
  width: 50em;
}

.dialogue-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  & .ava {
    align-self: flex-end;
    text-align: right;
  }
}

.hidden {
  display: none;
}
