@import '../styles/index.scss';

.app {
  align-items: center;
  border-radius: 4em;
  bottom: 5%;
  background-color: $bg-main;
  display: flex;
  height: 8em;
  justify-content: center;
  left: 5%;
  overflow-wrap: break-word;
  position: fixed;
  width: 8em;
  box-shadow: $shadow;
  z-index: 100000000000000000;
  transition: width 0.5s;

  & p {
    font-size: xxx-large;
  }
}

.active {
  width: 50em;
  border-radius: 4em;
  padding: 0 4em;
  flex-direction: row;
  justify-content: start;
}

.hidden {
  display: none;
}
