.link-container {
  height: 100%;
  position: relative;
  width: 100%;
}

.tag {
  align-items: center;
  background-color: rgb(45 115 247);
  border-radius: 25px;
  color: white !important;
  display: flex;
  font-size: medium !important;
  height: 25px;
  justify-content: center;
  margin: auto;
  position: fixed;
  width: 25px;
  z-index: 10000;
}
